:root {
  --white: #ffffff;
  --purple: #27005b;
  --gold: #bdab6e;
  --black: #000000;
  --darkblue: #031c39;

  --heading: "Bruno Ace";
}

@font-face {
  font-family: "Bruno Ace";
  src: url("../fonts/Bruno_Ace/BrunoAce-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "Bruno Ace";
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}

@media screen and (max-width: 1024px) {
  h2 {
    font-size: 20px;
  }
}

p {
  margin: 0;
}

.container {
  padding: 0 80px;
  margin: 0 auto;
  max-width: 1760px;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 35px 0;
}

.logo,
.logo img {
  height: 34px;
  width: 173px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.links ul li a {
  position: relative;
  color: var(--white);
  font-size: 20px;
  text-transform: uppercase;
}

.links ul:last-child li a::after {
  display: none;
}

.links ul li a::after {
  content: "";
  position: absolute;
  top: 0;
  right: -30px;
  bottom: 0;
  width: 1px;
  height: 24px;
  background-color: var(--white);
  opacity: 40%;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 16px 14px;
  background-color: var(--purple);
  border-radius: 100%;
  z-index: 3;
  touch-action: manipulation;
  width: 46px;
  height: 46px;
}

.burger span {
  display: block;
  width: 18px;
  height: 2px;
  border-radius: 18px;
  background-color: var(--white);
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.burger.is-active span:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.burger.is-active span:nth-child(2) {
  opacity: 0;
}

.burger.is-active span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.hero-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

@media screen and (max-width: 1085px) {
  .container {
    padding: 0 60px;
  }

  .logo,
  .logo img {
    width: 100px;
    height: 21px;
  }

  .links {
    gap: 30px;
  }

  .links ul li a::after {
    right: -15px;
    height: 16px;
    top: 2px;
  }

  .links ul li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .header_container {
    padding: 29px 0;
  }

  .logo,
  .logo img {
    width: 173px;
    height: 34px;
  }

  .burger {
    display: flex;
  }

  .header_links {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 283px;
    background-color: var(--darkblue);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition:
      opacity 0.4s ease,
      visibility 0.4s ease;
    z-index: 2;
    display: none;
  }

  .header_links.is-active {
    display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .links {
    position: relative;
    left: 110px;
    top: 284px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .links ul li a {
    font-size: 20px;
  }

  .links ul li a::after {
    display: none;
  }
}

body.no-scroll {
  overflow: hidden;
}
